@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@200&display=swap');

$font: 'Montserrat' , sans-serif; 

/* Colors page */
$color1:#152d35;
$color2:#00acb5;
$color3:#000;
$color4:#fff;
$color5: #d9bb96;
/*FIN colors*/ 

/* fonts sizes */
$headings: (
    h1: 40px,
    h2: 32px,
    h3:15px,
);

$h1: map-get($headings, h1);
$h2: map-get($headings, h2);
// fin tamaño titulos "mapas"


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin base ($width, $height, $bgcolor) {
    width: $width;
    height: $height;
    background-color: $bgcolor;
}

body{
    font-family: $font;
    background-image: url(../img/fondo.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ======================================================================*/
/* ----------BARRA Welcome! all pages ---------- */
.welcome {
    background-color: $color5;
    font-size: 15px;
    color: $color3;
    text-align: center;
}
/* --------------FIN barra welcome!------------------ */
/* ======================================================================*/

/* -------GRID al INDEX------- */
.grid-container {
    min-height: 1000px;
    grid-template-areas:"header header header header"
                        "main   main   main   main"
                        "section section section section"
                        "footer footer footer footer";
}

/* -------------FIN GRID INDEX---------------- */
/* ======================================================================*/

/*--------------------- INICIA Header all pages--------------------- */

header {
    @include base(auto, max-content, $color1);
    font-size: 20px;
    height: max-content;
    background-color: $color1;
    color: #fff;
    font-size: 22px;

    .logotipe {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }

    nav {
        margin-left: 26vw;

        li {
            padding: 10px;

            a {
                text-decoration: none;
                background-image: linear-gradient($color1, $color2);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;

                &:hover {
                    background-size: 100% 2px;
                }
            }
        }
    }
}
/*--------------------------- FIN header------------ */
/* ======================================================================*/

/* -------------------INICIO Main INDEX------------------ */
main{
    align-items: center;
    text-align: center;
    padding: 50px;
    background-image: url(../img/slideopaco.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    h1 {
        text-align: center;
        color: $color4;
        font-size: 40px;

        span{
            color: $color2;
        }
    }

    p{
        text-align: center;
        color: $color4;
        font-size: 20px;
        
    }

    .img-principal {
        box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
        margin-left: auto;
        margin-right: auto;
        transition: all 1seg;

        &:hover {
            transition: all 0.7s;
            filter: sepia(0%);
            transform: scale(1.05);
        }
    }

    .clicks {
    font-family: inherit;
    font-size: 15px;
    background: $color2;
    color: $color4;
    border-radius: 15px;
    border: none;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: all 0.2s;

    &:hover{
        animation: fly-1 0.6s ease-in-out infinite alternate;
        background-color: $color5 ;
        }
    }
}

/* -------------------FIN MAIN INDEX-------------- */
/* ======================================================================*/

/* ----------------SECTIONS INICIAN INDEX-------------- */

/* CARDS DE HTML CSS Y JS */
section .container{
    font-family: 'Montserrat' , sans-serif;
    font-size: 10px;
    width: 100%;
    padding: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    border-radius: 10px;

    .card{
        position: relative;
        background-color: $color4;
        box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
        



        .face{
            width:300px;
            height: 200px;
            transition:.4s;
        }
        
        .face.face1{
        position: relative;
        width: 100%;
        background: $color1;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-content:center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px);

            &:hover{
                transform: translateY(0);
                background-color: $color2;
                }

                .content{
                    opacity: .8;
                    transition:  0.5s;
                    text-align: center;
            
                    i{
                    font-size: 8em;
                    color: $color4;
                    display: inline-block; 
                    }
            
                    h3{
                    font-size: 1.5em;
                    color: $color4;
                    text-align: center;
                                    
                                
                } 
            } 
        } 
    }        
    
        .face .face2{
            position: relative;
            background: $color4;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            box-sizing: border-box;
            transform: translateY(-100px);

            &:hover .face.face2{
                transform: translateY(0);
            
            }

            p{
            font-size: 30px;
            width: 100%;
            margin: 0 ;
            padding: 0;
            color:$color3;
        }
    }
} 
/* FIN SECTION1 HTML CSS Y JS */

/* SERVICIOS INICIA SECTION 2 */
.wrapper{
    padding-top: 100px;
    padding-bottom:100px;

    .servicios{ 
        text-align: center;
        .pSection {
            font-size: 20px;
        }

        h4  {
            @extend .pSection;
        }

        i{
            font-size: 30px;
            color: $color2;
        }

        div{
            text-align: center;
        }
    
        .tipo-servicios{

            i{
                font-size: 30px;
                color: $color2;
            }
        }
    }
    
    .img-lenguages {
        align-items: center;
        width: 70%;
        padding: 20px;

        &:hover{
            transition: all 0.7s;
            filter: sepia(0%);
            transform: scale(1.05);
        }
    }
    h4 {
        padding: 20px;
    }
}

/* --------------------SECTIONS FIN------------------- */
/* ======================================================================*/

/* -----------------INICIO FOOTER all pages-------------------- */
@mixin sizes($width, $height, $bcolor) {
    height: $height;
    width: $width;
    background-color: $bcolor;  
}

footer {
    @include base(auto, max-content, $color1);
    display: grid;
    text-align: center;
    color: $color4;
    padding: 5px;
    width: 100%;
    
    .logofooter{ 
        width: 180px;
        text-align: center;
    }
    
    div a {
        font-size: 12px;
        width: 100%;
    }

    p{
        text-align: center;
        font-size: 15px;

    }

    div .logo-footer {
        width: 150px;
        text-align: center;
    }

    .redes {
        color: $color4;
    
        a {
            font-size: 18px;
            text-decoration: none;
            color: $color2;
            transition: 0.5s;
            padding: 5px;
    
            &:hover {
                color: $color4;
                font-size: 25px;
                transition: 0.2seg;
            }
        }
    }
    
}
/* ------------------FIN FOOTER-------------- */
/* ======================================================================*/

/* ----------------INICIA ABOUT ME ----------------- */

.info-aboutme{
    align-items: center;
    text-align: center;
    background-image: url(../img/slideopaco.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    

    h1 {
        text-align: center;
        color: $color4;
        font-size: 2.5em;

        span{
            color: $color2;
        }
    }

    .img-aboutme {
        justify-content: center;
        text-align: center;
        box-shadow: 1px 10px 25px rgba(0,0,0,0.5);
        transition: all 1seg;

        &:hover {
            transition: all 0.7s;
            filter: sepia(0%);
            transform: scale(1.05);
        }
    }

    p{
        font-size: 20px;
        text-align: center;
        color: $color4;
        
    }

    .clicks {
            font-family: inherit;
            font-size: 15px;
            background: $color2;
            color: $color4;
            border-radius: 15px;
            border: none;
            padding: 0.5em 1em;
            text-decoration: none;
            transition: all 0.2s;

    &:hover{
        animation: fly-1 0.6s ease-in-out infinite alternate;
        background-color: $color5 ;
        }
    }
}


/* ----------------FIN ABOUT ME ----------------- */


/* -----------PORTFOLIO INICIA MAIN -------------- */

.content-porf{
h2{
    color:$color4;

    span{
        color: $color2;
    }
}
    .galeria{
        margin: 10px 20px;

        &:hover {
            transition: all 0.7s;
            filter: sepia(0%);
            border-radius: 10px;
            transform: scale(1.05)
        }

        .imgportf{
            width: 50%;
            padding: 20px;
            height: auto;
        }

        .pie{
            text-align: center;
            
            p {
                font-size: 20px;
            }
        }
    }
    
}
.coming-soon {
    h3{
    color: $color1;
    text-align: center;
    justify-content: center;
    }
}
/* -----------FIN PORTFOLIO MAIN -------------- */

/* -----------INICIA MAIN PURPOSE ------------- */

.purpose-info{
    align-items: center;
    text-align: center;
}
.bg-pose{
    width: auto;

    .bg-logo {
        background-size: cover;
        width: 100%;
    }
    
}
/* -----------FIN MAIN PURPOSE ------------- */

.bg-pose {

    bg-logo{
        background-size: cover;
        width: 100%;
    }

}

/* ------------------FORM CONTACT ME-------------- */

form {
    background-size: 100vw 100vh;
    background-attachment: fixed;
    width: 300px;
    margin: auto;
    background: #229797 ;
    border: solid 1px #fff;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 7px;

    input , textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
    }
    textarea {
        min-height: 80px;
        min-height: 200px;
        max-width: 100%;
        border-radius: 7px;
    }
    input{
        border-radius: 15px;
    }
    .gender{
        justify-content: left;
    }

    /* BUTTON SEND */

    .button-send {
        font-family: inherit;
        font-size: 20px;
        background: #a38867;;
        color: white;
        padding: 0.5em 2em;
        padding-left: 8em;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 15px;
        overflow: hidden;
        transition: all 0.2s;

        span {
            display: block;
            margin-left: 0.1em;
            transition: all 0.3s ease-in-out;
        }
        svg {
            display: block;
            transform-origin: center center;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: translate(5em);
            }
        }

        .svg-wrapper:hover {
            animation: fly-1 0.6s ease-in-out infinite alternate;
        }

        .button-send:active {
            transform: scale(0.95);
        }

        @keyframes fly-1 {
            from {
            transform: translateY(0.1em);
            }
        
            to {
            transform: translateY(-0.1em);
            }
        }
    }

}

/* ------------------FIN FORM-------------- */
/* ======================================================================*/
